* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #222;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
}

.row {
	display: flex;
	flex-wrap: wrap;
	width: 600px;
	margin: 0 auto;
}

.col-10 {
	width: calc(100% / 10);
	aspect-ratio: 1;
	border: 1px solid red;
}

.col-9 {
	width: calc(100% / 9);
	aspect-ratio: 1;
	border: 1px solid red;
}

.col-7 {
	width: calc(100% / 7);
	aspect-ratio: 1;
	border: 1px solid red;
}

.bg {
	background-color: red;
}

/* .w-1000 {
	width: 600px;
	margin: 0 auto;
}

.w-700 {
	width: 600px;
	margin: 0 auto;
}

.w-900 {
	width: 600px;
	margin: 0 auto;
} */
